---
title: Le Wagon - Middleman

---

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://images.unsplash.com/photo-1495709276535-bb4928b7b233?dpr=1&auto=format&fit=crop&w=1500&h=1125&q=80&cs=tinysrgb&crop=');">
  <div class="banner-content">
    <h1>WELCOME HOME</h1>
    <p>Book unique homes and experience a city like a local.</p>
      <form action="#" class="form-inline">
        <div class="form-group">
          <input type="text" id="text" class="form-control mb-2 mr-sm-2" placeholder="checkin">
        </div>
        <div class="form-group">
          <input type="text" id="text" class="form-control mb-2 mr-sm-2" placeholder="checkout">
        </div>
        <select class="form-control">
          <option value="1">1 guest</option>
          <option value="2">2 guests</option>
          <option value="3">3 guests</option>
        </select>
        <input type="Search" value="Search" class="btn btn-danger">
      </form>
  </div>
</div>


<div class="container">
  <h2 class="text-center">What is your next trip?</h2>
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/sao-paulo');">
          <div class="card-category">SAO PAULO</div>
          <div class="card-description">
            <h2>Theo's house</h2>
            <p>Very cool city, the best</p>
          </div>
          <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
          <a class="card-link" href="#" ></a>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
          <div class="card-category">SHANGHAI</div>
          <div class="card-description">
            <h2>Sebastian's house</h2>
            <p>Very cool city, the best</p>
          </div>
          <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/ssaunier">
          <a class="card-link" href="#" ></a>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/berlin');">
          <div class="card-category">BERLIN</div>
          <div class="card-description">
            <h2> Paul's house</h2>
            <p>Very cool city, the best</p>
          </div>
          <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/atmosfeer">
          <a class="card-link" href="#" ></a>
        </div>
      </div>

    </div>
</div>

